<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>
            Last Lab
        </title>

    </head>

    <body>
        <header>
            <h1>
                Lab 10
            </h1>
        </header>

        

            {{{body}}}
            
        
        <footer>
        <p>
            Atiq Patel 10432883
        </p>
        </footer>
    </body>



    
    
</html>
