<!DOCTYPE html>
<html>
    <title>
        Not Found
    </title>

    <head>
        <meta charset="utf-8">
        <title>My Site</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>
<body>
    <p class="error">We're sorry, but no results were found for {{str}}.</p>
</body>

</html>