<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    
        <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    
    <main>
        {{{body}}}
    </main>

    <footer>
        <nav>
        <ul>
            <li><a href="/">Search again</a></li>
        </ul>
    </nav>
    </footer>
</body>
</html>