<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Prime Checker</title>
    <link rel="stylesheet" href="/public/css/main.css" />
</head>
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>




<body>
    
    <main class="container">
        <p>This is a simple client side program for Prime checking</p>

        <form id="static-form"  method="POST">
        

<div>
    <label for="number">Enter Number</label>
    <input type="number" id="number" name="number"/>

</div>



<div class="error-Container-hidden" id="error-container">
     <div class="alert alert-danger text-goes-here"></div>
</div>
<span id="attempts"></span>

<div>
    <button type="submit">Lets check your Number</button>
</div>

</form>

        <!-- <div class="row">
            <div class="col-sm-6">
                {{{body}}}
            </div>
        </div> -->
    </main>
<!-- 
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="/public/js/form.js"></script> -->
</body>

</html>
